/* COMMON */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}
/* animation */
.back-to-possition {
  opacity: 0;
  transition: 1s;
}
.back-to-possition.to-right {
  transform: translateX(-150px);
}
.back-to-possition.to-left {
  transform: translateX(150px);
}

.show .back-to-possition {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-possition.delay-0 {
  transition-delay: 0s;
}
.show .back-to-possition.delay-1 {
  transition-delay: 0.3s;
}
.show .back-to-possition.delay-2 {
  transition-delay: 0.6s;
}
.show .back-to-possition.delay-3 {
  transition-delay: 0.9s;
}
